<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estación Meteorológica</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
     <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/weather-icons.min.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a>
          <img
            alt="Weather Station"
            width="364"
            height="58"
            alt="logo"
          />
        </a>
      </div>
    </header>

    <main>
      <article class="container">
        <div class="content-left">
          <!--
            - # Current weather
          -->
          <section
            class="section current-weather"
            aria-label="current weather"
            data-current-weather
          >
            <div class="card card-lg current-weather-card">
              <h2 class="title-2 card-title">Tiempo actual</h2>

              <div ="temperature" class="weapper">
                <div id="temperature"
                data-img-cold="{{ url_for('static', filename='img/weather_icons/13d.png') }}"
                data-img-cloudy="{{ url_for('static', filename='img/weather_icons/02d.png') }}"
                data-img-sunny="{{ url_for('static', filename='img/weather_icons/01d.png') }}"
                ></div>
              </div>
              <ul class="meta-list">
                <li class="meta-item">
                  <span class="m-icon">calendar_today</span>
                  <div id="currentDate"></div>
                </li>
                <li class="meta-item">
                  <span class="m-icon">location_on</span>
                  <p class="title-3 meta-text">Calkiní, Campeche</p>
                </li>
              </ul>
            </div>
          </section>

          <section
            class="section forecast"
            aria-label="forecast"
            fata-5-day-forecast
          ></section>
        </div>

        <div class="content-right">
          <!-- Highlits -->
          <section
            class="section highlights"
            aria-labelledby="highlights-label"
            data-highlights
          >
            <div class="card card-lg">
              <h2 class="title-2" id="highlights-label">Destacados de hoy</h2>
              <div class="highlight-list">
                <div class="card card-sm highlight-card">
                  <h3 class="title-3">Velocidad del viento</h3>
                  <div class="wrapper">
                    <span class="m-icon">air</span>
                    <div id="anemometro"></div>
                  </div>

                  <span class="badge aqi-1 label-1" title="aqi message"
                    >Bueno</span
                  >
                </div>

                <div class="card card-sm highlight-card">
                  <h3 class="title-3">Humedad</h3>
                  <div class="wrapper">
                    <span class="m-icon">humidity_percentage</span>
                    <div>
                      <div id="humidity"></div>
                    </div>
                  </div>
                </div>

                <div class="card card-sm highlight-card">
                  <h3 class="title-3">Presión</h3>
                  <div class="wrapper">
                    <span class="m-icon">airwave</span>
                    <div>
                      <div id="pressure"></div>
                    </div>
                  </div>
                </div>

                <div class="card card-sm highlight-card">
                  <h3 class="title-3">Dirección del viento</h3>
                  <div class="wrapper">
                    <span class="m-icon">explorer</span>
                    <div id="windVelocity"></div>
                  </div>

              </div>
            </div>
          </section>
        </div>

        <div class="loading" data-loading>
          <footer class="footer">
          <div id="copyright" class="body-3"></div>
          <p class="body-3" title="Weather Station">
            Powered By Dasheer
          </p>
        </footer>
        </div>

      </article>
    </main>

    <!--
      - # 404
    -->
    <section class="error-content" data-error-content>
      <h2 class="heading">404</h2>
      <p class="body-1">No se pudo encontrar la página</p>
      <a href="/" class="btn btn-primary">
        <span class="span">Volver a la página de inicio</span>
      </a>
    </section>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
